body {
    /*
    background-image: url(images/Liquid-pattern-8.jpg);
    background-size: 200%;
    */
    background-color: #2C1443;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.5em;
}

main {
    background-image: url(images/Liquid-pattern-8.jpg);
    background-size: 200%;
}

.header {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: auto;
    background-image: linear-gradient(to right, #cc00cc, #dd9b87);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

.title {
    margin-left: 7%;
}

.overlay {
    width: 30%;
    font-size: 1em;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(#DD878B, #dd87ad);
    padding: 5%;
    padding-top: 2%;
    border-radius: 71% 29% 70% 30% / 24% 65% 35% 76% ;
    transition: .5s ease-in-out;
}

.overlay:hover {
    width: 60%;
    border-radius: 0%;
    border-radius: 7% 93% 10% 90% / 76% 10% 90% 24% ;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

nav a {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    background-size: 0 100%;
    transition: background-color .3s;
}

nav a:hover {
    background-color:#DD878B;
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 50px;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

main {
    width: 100%;
    margin: auto;
}

p {
    font-size: x-large;
    text-align: center;
}

.card {
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    color: black;
    box-shadow: 2px 2px 4px 2px black;
    font-size:medium
}

.card p {
    text-align: left;
    font-size:medium;
}

.card-info {
    width: 30%;
}

.buttons {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.buttons a {
    cursor: pointer;
    border-style: none;
    border-color: transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 2%;
    font-size: 50px;
    transition: font-size .5s ease-out;
    color: darkgray;
}

.github:hover {
    color: #840584;
    font-size: 60px;
}

.site:hover {
    color:darkgoldenrod;
    font-size: 60px;
}

iframe {
    margin-left: 20%;
    width: 60%;
    height: 1150px;
}

.info {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4%;
    text-align: center;
    background-image: linear-gradient(to top left, #DD878B, #dd87ad);
    border-radius: 30% 70% 20% 80% / 85% 65% 35% 15%;
    transition: .5s ease-in-out;
}

.info:hover {
    width: 60%;
    /*transform: rotate(60deg);*/
    border-radius: 0%;
    border-radius: 5% 95% 7% 93% / 89% 11% 89% 11% ;
}

.info a {
    text-decoration: none;
    color: white;
}

.info a:hover {
    text-decoration: underline;
}

#ext {
    font-size: x-small;
}